NEXT_PUBLIC_DRUPAL_BASE_URL=https://library-dev.sites-pro.stanford.edu
NEXT_PUBLIC_SITE_NAME=Local Environment

# Grab these from the Vercel Environment Variables.
#DRUPAL_DRAFT_CLIENT=CLIENT
#DRUPAL_DRAFT_SECRET=SECRET
#DRUPAL_PREVIEW_SECRET=SECRET
#DRUPAL_REVALIDATE_SECRET=SECRET

# LibApps credentials.
#LIBGUIDE_CLIENT_ID=ID
#LIBGUIDE_CLIENT_SECRET=SECRET

# To build every page when running `yarn build`, change this to 'true' (prod environment).
BUILD_COMPLETE=false