{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "printWidth": 500,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"]
}
