@import 'decanter/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for react-tiny-oembed containers */
.aspect-\[16\/9\] .__embed_column {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
}

.aspect-\[16\/9\] .__embed_column iframe {
  width: 100%;
  height: 100%;
}

/* styles for the responsive tables */
@layer utilities {
  /* Added to get center alignment on branches table. */
  @media screen and (max-width: 40em) {
     .responsiveTable td.branch-hours,
     .responsiveTable td.branch-image {
        display: flex;
        justify-content: center;
     }
    }
  .responsive-table .tdBefore {
    display: none !important;
  }
  .responsive-table tbody tr,
  .responsive-table td.pivoted {
    border: none !important;
  }
  .responsive-table tbody tr {
    border-bottom: 1px #ABABA9 solid !important;
  }
  .responsive-table tr td.pivoted {
    padding-left: 0 !important;
    text-align: unset !important;
  }
  .responsive-table ul li:last-child span {
    display: none;
  }
  .responsive-table-study tr td.pivoted:first-of-type {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
